#map {
  height: 85dvh;
  border-radius: 12px;
  margin-top: 1%;
}

body {
  background-color: rgb(244, 237, 237);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h2 {
  justify-content: center;
  display: flex;
  padding: 0;
}

/*- SIDEEEEBAAAAAAAAAAAAAR---*/
.image-example {
  width: 300px;
  height: 200px;
  background-color: rgb(191, 182, 182);
  text-align: center;
}

#sidebar {
  position: fixed;
  width: 350px;
  height: 85%;
  margin-top: 42px;
  justify-content: center;
  background-color: rgb(223, 220, 220);
  z-index: 1000;
  border-radius: 5px;
  top: 0;
  right: 0;

  transform: translateX(-2px);
  transition: transform 0.3s;
}

#sidebar.sidebar-hidden {
  transform: translateX(400px);
  transition: transform 0.3s;
}

#sidebar-content {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 1%;
  border-color: 2px solid black;
  color: rgb(8, 8, 8);
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.search-side {
  position: absolute;
  border-radius: 4px;
  margin-top: 2%;
  width: 60%;
  transform: translateX(60px);

  text-align: center;
}

.img {
  background-color: blue;
  width: 90%;
  height: 20px;
}

.top-content {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-top: 8px;
}
