#map {
  height: 90dvh;
  border-radius: 12px;
  border: 2px solid black;
  margin-top: 1%;
}

body {
  background-color: rgb(17, 17, 17);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h2 {
  justify-content: center;
  display: flex;
  padding: 0;
  color: white;
}

#search {
  border-radius: 4px;
  text-align: center;
  border-color: rgb(37, 255, 12);
  margin-top: 10px;
}

/*******************************************/
#sidebar {
  position: fixed;
  width: 350px;
  height: 85%;
  margin-top: 50px;
  border: 2px solid rgb(179, 180, 180);
  justify-content: center;
  background-color: rgb(25, 25, 25);
  z-index: 1000;
  border-radius: 12px;
  top: 0;
  right: 0;

  transform: translateX(-2px);
  transition: transform 0.3s;
}

#sidebar.sidebar-hidden {
  transform: translateX(400px);
  transition: transform 0.3s;
}

#sidebar-content {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 1%;
  border-color: 2px solid black;
  color: rgb(255, 255, 255);
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.search-side {
  position: absolute;
  border-radius: 4px;
  margin-top: 2%;
  width: 60%;
  transform: translateX(60px);

  text-align: center;
}

.img {
  background-color: blue;
  width: 90%;
  height: 20px;
}

#close-btn {
  top: 0;
  right: 0;
  position: absolute;
  margin-top: 2%;
  margin-right: 5%;
  padding: 2px;
  width: 40px;
  border-radius: 4px;
  background-color: red;
  color: white;
  cursor: pointer;
}
